.wrapper {
  display: flex;
  justify-content: space-around;
  margin: 2rem auto;
  padding: 1rem;
  max-width: 90vw;
  background-color: #e0e0e0;
}

.aside,
.main {
  margin: 1rem;
}

.aside {
  width: 30%;
}

.main {
  width: 70%;
}
