.movie {
  position: relative;
  width: 200px;
  padding: 0.5rem;
  color: #424242;
  font-size: 0.75rem;
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.movie:hover .buttonBox {
  opacity: 0.95;
}

.img {
  display: block;
}

.average {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  border-radius: 0 0 0.5rem 0;
  background-color: #2a93e8;
  color: #fff;
  font-weight: 600;
}

.buttonBox {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  padding: 8px;
  background-color: #fff;
  opacity: 0;
  box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 0px 0px 0px 5px;
}
